@font-face{
    font-family: Nunito;
    src: url('./fonts/Nunito-Regular.ttf')
}

@font-face{
    font-family: Satisfy-Regular;
    src: url('./fonts/Satisfy-Regular.ttf')
}
/* body{
    background-image:url('./img/7108682.jpg');
    display: flex;
    align-items: center;
    justify-self: center;
} */
/* header */
header{
    background-color: aquamarine;
}
header .presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(220, 220, 220);
    position: relative;
       
}

header .presentacion div{
    display: flex;
    margin: 0;
    position: fixed;
}

header .presentacion h1{
    font-family: Satisfy-Regular, "Lucida Sans";
    font-size: 60px;
    margin: 0;
}

header .presentacion h2{
    font-family: Satisfy-Regular, "Lucida Sans";
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

header .guardaLoto ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow:  ;
}

header .guardaLoto li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration-style: none;
    list-style-type: none;
    float: left;
    
}

header .guardaLoto img{
    width: 200px;
    overflow: hidden;
}

div .pasatiempos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
    margin: 50px;

}